@import 'tailwindcss';
body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6; /* light gray background */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input, select, textarea {
  outline: none;
}